/**
 * Accordions
 */

.accordion {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  @include _accordion_variant();

  .card { // non-active collapse depends on acc element wrapped in child (bs4)
    background: none;
    margin: 0;
    box-shadow: none;

    &:after {
      position: relative;
      height: 0;
      background: none;
      display: none;
    }
  }
}

.collapse {
  display: none;
  position: relative;

  &.in,
  &.active {
    display: block;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height;
}


/**
 * Elements
 */

.accordion__trigger {
  padding: 1rem 3rem 1rem 0.75rem;
  border-top: 1px solid #fff;
  cursor: pointer;
  position: relative;

  &:after {
    position: absolute;
    font-family: "Ionicons";
    font-weight: normal;
    content: "\f208"; // minus
    top: 1rem;
    right: 1.5rem;
    color: rgba(#333, 0.4);
    transition: color 0.2s ease;

    &:hover { color: rgba(#333, 0.9); }
  }

  &.collapsed { 
    &:after {
      content: "\f217"; // plus
      color: rgba(#333, 1);
    } 
  }
}

.accordion__inner {
  padding: 1rem 3rem 1rem 0.75rem;
  font-size: $font-size-sm;
  background: #fff;
}

.collapsed .accordion__trigger {
  border-top: 0 none;
}

.accordion .card {
  &:first-child .accordion__trigger {
    border-top: 0 none;
  }
}


/**
 * Modifiers
 */

/* Colors */
.accordion--white { @include _accordion_variant($gray-500, #fff, $gray-800); }
.accordion--dark { @include _accordion_variant(#fff, $gray-300, $gray-300, #fff); }
