/**
 * Alerts
 */

$alert-padding-x:       1.5rem;
$alert-padding-y:       1.5rem;


.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: 1rem;
  font-weight: 300;
  @include _alert_variant($color-text, $color-component-light);
  @include _font_smoothing();
}


/**
 * Elements
 */

 .alert__heading {
   font-weight: 700;
   color: inherit;
   text-transform: uppercase;
 }

/* Link enabling entire alert clickable */
.alert__link {
  display: block;
  margin-left: .5rem;
  padding-top: .5rem;
  color: inherit;

  @include _media_breakpoint_up(sm) {
    display: inline;
    padding-top: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    @include _transition(background .2s ease-in-out);
  }

  &:hover {
    border-bottom: 2px solid $red;
    color: inherit;
    text-decoration: none;
    &:after { background: rgba(0,0,0,.15); }
  }

  i { margin-right: 8px; }
}


/**
 * Modifiers
 */

/* Sizing */
.alert--xs { @include _alert_size(0.25rem, 0.5rem, $font-size-xs); display: inline-block; }
.alert--sm { @include _alert_size($alert-padding-y, $alert-padding-x, $font-size-sm); }
.alert--lg { @include _alert_size(2.5rem, 2.5rem, $font-size-base); }

/* Colors and States */
.alert--white { @include _alert_variant(#fff, $color-component-light); }
.alert--success { @include _alert_variant(#fff, $color-success); }
.alert--info { @include _alert_variant(#fff, $color-info); }
.alert--warning { @include _alert_variant(#fff, $color-warning); }
.alert--danger { @include _alert_variant(#fff, $color-danger); }


/**** Todo ****/

/* Dismissible alerts */
.alert--dismissible {
  padding-right: ($alert-padding-x * 2);

  // Adjust close link position
  .close {
    position: relative;
    top: -.125rem;
    right: -$alert-padding-x;
    color: inherit;
  }
}
