/**
 * Badges
 */

.badge {
  position: absolute;
  top: .75rem;
  left: .75rem;
  max-width: 67%;
  padding: 0.375rem 0.75rem;
  // box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.125);
  font-size: $font-size-xs;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background 0.2s ease;
  @include _badge_variant();

  a {
    color: inherit;
    &:hover { text-decoration: none; }
  }
}

.badge--center {
  top: 0;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.badge--right {
  left: auto;
  right: .75rem;
}

@include _media_breakpoint_up(md) {
  .badge {
    top: 0;
    left: 0;
  }

  .badge--center {
    left: 50%;
    right: auto;
  }

  .badge--right {
    left: auto;
    right: 0;
  }
}

@include _media_breakpoint_up(xl) {
  .badge {
    top: 0.5rem;
    left: 0.5rem;
  }

  .badge--center {
    top: 0;
    left: 50%;
  }

  .badge--right {
    left: auto;
    right: 0.5rem;
  }
}

@include _media_breakpoint_up(xx) {
  .badge {
    top: 0.5rem;
    left: 0.5rem;
  }

  .badge--center {
    top: 0;
    left: 50%;
  }

  .badge--right {
    left: auto;
    right: 0.5rem;
  }
}

/**
 * Elements
 */

.badge__icon {
  padding-left: 0.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 0.25rem;
}

/* for styleguide presentation only */
.badge__wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  box-shadow: 0 1px 0.25rem 0 rgba(0,0,0,0.25);
  margin: 1rem auto;
}

/**
 * Modifiers
 */

/* Colors */
.badge--white { @include _badge_variant($color-text, $color-component-light); }

.badge--pill {
  border-radius: 5rem;
}
