/**
 * Banners
 */

$banner-padding-x: 0%;
$banner-padding-y: 3.5%;


.banner {
  position: relative;
  margin-bottom: 3rem;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

  @include _banner_variant(#fff, $black);
  @include _banner_size(auto, $banner-padding-y);
  @include _font_smoothing();
}


/**
 * Elements
 */

.banner__pretitle,
.banner .layout__section-pretitle {
  font-size: $font-size-base;
}

.banner__title,
.banner .layout__section-title {
  margin-top: 0;
  font-weight: 700;
}

.banner__subtitle,
.banner .layout__section-subtitle { @extend .lead; }

.banner__copy { font-size: $font-size-base; }


/**
 * Modifiers
 */

/* Sizing */
.banner--xs { @include _banner_size(auto, 0); }
.banner--sm { @include _banner_size(auto, $banner-padding-y/2); }
.banner--lg { @include _banner_size(auto, $banner-padding-y*3); }
.banner--xl { @include _banner_size(auto, $banner-padding-y*6); }

/* Colors */
.banner--white {
  @include _banner_variant($color-text, #fff);
}

.banner--dark {
  &::after {
    background: rgba(0, 0, 0, 0.7) !important;
  }
}

.banner--transparent {
  @include _banner_variant($color-text, transparent);
  color: $color-text;
  background-color: transparent;
}

.banner--transparent-dark {
  @extend .banner--transparent;
  color: #fff;
}

.banner--shadow {
  border-top: 2px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* Background image */
.banner--image {
  // background-image moved to styleguide.scss to avoid getting pulled into doric
  background-repeat: repeat;
  background-size: cover;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

/* Positioning */
.banner--middle {
  min-height: 300px !important;
  text-align: center;

  // position: absolute;
  // top: 50%;
  width: 100%;
  // transform: translateY(-50%);

  &.banner--xs { min-height: 100px !important; }
  &.banner--sm { min-height: 200px !important; }
  &.banner--lg { min-height: 400px !important; }
  &.banner--xl { min-height: 500px !important; }
}



.banner--fixed {
  position: relative;
  background-size: 280% auto;
  background-repeat: no-repeat;
  background-position: 50% top;
  background-attachment: fixed;
  z-index: 1;
  padding-top: 3rem !important;

  @include _media_breakpoint_up(sm) {
    background-size: 210% auto;
    padding-top: 5rem !important;
  }

  @include _media_breakpoint_up(md) {
    background-size: 160% auto;
    padding-top: 6rem !important;
  }

  @include _media_breakpoint_up(lg) {
    background-size: 100% auto;
    padding-top: 7rem !important;
  }

  @include _media_breakpoint_up(xl) {
    padding-top: 8rem !important;
  }
}


/**
 * Hero type example
 */

.banner-hero {
  @extends .banner;
  padding: 0;
  margin: 0 0 3rem !important;
  min-height: 800px;

  background-position: center;
}
