/**
 * Blockquotes
 */

$blockquote-padding-x:       3rem;
$blockquote-padding-y:       3rem;


.blockquote {
  @extend .lead;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.12);
  @include _blockquote_size($blockquote-padding-y, $blockquote-padding-x);
  @include _blockquote_variant(#fff, $color-component-dark);
  @include _font_smoothing();
}


/**
 * Elements
 */

.blockquote__card {
  padding: 0;

  .blockquote__image__wrapper {
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
    overflow: hidden;
    background: #fff;
  }

  .blockquote__image {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
  }

  .blockquote__inner {
    @include _blockquote_size($blockquote-padding-y, $blockquote-padding-x);

    &:before {
      position: absolute;
      content: "";
      border-style: solid;
      border-width: 0 20px 15px 20px;
      border-color: transparent transparent rgba(#fff, 1) transparent;
      -webkit-transform: rotate(360deg);
      border-style: inset;
      top: -15px;
      left: 4rem;
      transform: translateX(-50%);
    }
  }

  @include _media_breakpoint_up(md) {
    min-height: 350px;
    margin-bottom: 30px;
    @include _clearfix();

    .blockquote__image__wrapper {
      float: left;
      width: 50%;
      height: 100%;
      padding: 0;
      overflow: hidden;
      background: $gray;
    }

    .blockquote__image {
      position: relative;
      height: 112%; /* faux crop for fitting 4:3 images in 16:9 */
      width: auto;
      max-height: 450px;
      max-width: none;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    .blockquote__inner {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 50%;

      &:before {
        border-width: 20px 15px 20px 0;
        border-color: transparent rgba(#fff, 1) transparent transparent;
        left: -15px;
        top: 4rem;
        transform: translateY(-50%);
      }
    }

    @include _media_breakpoint_up(lg) {
      height: 350px;

      .blockquote__image {
        max-height: none;
      }
    }
  }

  @include _media_breakpoint_up(lg) {
    min-height: 400px;
  }

  @include _media_breakpoint_up(xl) {
    min-height: 450px;
  }

  @include _media_breakpoint_up(xx) {
    min-height: 500px;
  }
}

.blockquote__copy {}

.blockquote__cite {
  position: relative;
  margin-top: 80px;
  font-weight: 400;
  font-size: $font-size-sm;

  &:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 70px;
    height: 3px;
    background: #fff;
  }
}

.blockquote__source {
  font-weight: 400;
  font-style: italic;
  font-size: $font-size-xs;
}

/* Link enabling entire blockquote clickable */
.blockquote__link {
  color: inherit;
  font-weight: 600;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
  }

  &:hover {
    color: inherit;
    text-decoration: none;

    &:after { background: rgba(0,0,0,.15); }
  }
}


/**
 * Modifiers
 */

/* Add a quotation mark */
.blockquote--mark {
  position: relative;

  &:before {
    content: "\f347";
    position: absolute;
    top: 2rem;
    left: 3rem;
    font-size: 30px;
    font-family: "Ionicons";
  }
}

/* Colors */
.blockquote--white {
  @include _blockquote_variant($color-text, #fff);

  .blockquote__cite:after { background: $color-text; }
}
