/**
 * Buttons
 */

$btn-border-radius:     0;
$btn-padding-x:         1.75rem;
$btn-padding-y:         0.6rem;
$btn-box-shadow:        inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
$btn-active-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
$cursor-disabled:       not-allowed;
$btn-font-size-xs:      0.625rem;
$btn-font-size-sm:      0.75rem;
$btn-font-size-base:    0.9rem;
$btn-font-size-lg:      0.95rem;


.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  // border: 1px solid rgba($color-text, 0.7);
  // box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
  @include _font_smoothing();
  @include _button_size($btn-padding-y, $btn-padding-x, $btn-font-size-base, $btn-border-radius);
  @include _button_variant($color-text, #fff, rgba($color-text, 0.35));
  @include _transition(all .2s ease-in-out);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include _tab_focus();
    }
  }

  @include _hover_focus { text-decoration: none; }
  &.focus { text-decoration: none; }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    @include _box_shadow($btn-active-box-shadow);
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include _box_shadow(none);
  }
}


/**
 * Elements
 */

.btn__icon {}


/**
 * Modifiers
 */

/* Sizing */
.btn--xs { @include _button_size($btn-padding-y/2, $btn-padding-x/2.25, $btn-font-size-xs, $btn-border-radius); }
.btn--sm { @include _button_size($btn-padding-y/1.5, $btn-padding-x/1.75, $btn-font-size-sm, $btn-border-radius); }
.btn--lg { @include _button_size($btn-padding-y*1.5, $btn-padding-x*1.75, $btn-font-size-lg, $btn-border-radius); }

.btn--block {
  display: block;
  width: 100%;
  border-radius: 0;
}

/* Colors */
.btn--white {
  @include _button-variant($color-text, #fff, #fff);

  &.btn--outline:hover { color: $color-text; }
}

.btn--transparent {
  @include _button_variant(rgba(#fff,.85), rgba(#000,.3), transparent);

  &:hover {
    color: rgba(#fff,.9);
    background: rgba(#000,.5);
  }

  &.btn--outline:hover {
    color: rgba(#000,.65);
    background: rgba(#000,.1);
  }
}

.btn--transparent-white {
  @include _button_variant(rgba(#fff,.85), rgba(#fff,.2), transparent);

  &:hover {
    color: rgba(#fff,.9);
    background: rgba(#fff,.35);
  }

  &.btn--outline:hover {
    color: rgba(#fff,.75);
    background: rgba(#fff,.1);
  }
}

.btn--pill {
  border-radius: 5rem;
}
