/**
 * Cards
 */

$card_height_xs: 300px;
$card_height_sm: 350px;
$card_height_md: 400px;
$card_height_lg: 400px; //450px;
$card_height_xl: 400px; //500px;
$card_height_xx: 425px; //400px; //550px;


.card {
  margin-bottom: 30px; // = gutter
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  width: 100%;
  @include _card_variant();
  @include _box_shadow();
  transition: box-shadow .25s ease,
              background 0.2s ease;
  height: auto;

  &:hover {
    @include _box_shadow(0.4rem, 0.3);

    .card__image { transform: translateX(-50%) scale(1.1); }
  }
}


/**
 * Elements
 */

.card__block-link {
  display: block;
  color: inherit;
  height: 100%;
  padding-bottom: 2.5rem; // double duty: visually pleasant and prevents footer from obscuring text

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  @include _media_breakpoint_up(sm) {

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6rem;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
      z-index: 1;
    }
  }
}

.card__inner {
  position: static; // overrides 'relative' to keep footer at bottom:0
  padding: 1.25rem;
  line-height: 1.4;

  @include _media_breakpoint_up(xl) {
    line-height: 1.5;
  }
}

.card__image__wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9
  overflow: hidden;
  background: #fff;
}

.card:not(.card--overlay) .card__image__wrapper {
  z-index: 2; // keep it above the bottom overflow gradient
}

.card__image {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s;
}

.card__header {
  width: 100%;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  font-size: $font-size-sm;
  z-index: 20;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.2s ease;
}

.card__title {
  font-size: $font-size-base;
  font-weight: 900;
}

.card__text {
  font-size: $font-size-sm;

  &:last-child { margin-bottom: 0; }
}

.card__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,0.25);
  font-size: $font-size-xs;
  z-index: 20;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.2s ease;

  .content--left {
    float: left;
    width: 50%;
  }

  .content--right {
    float: right;
    width: 40%;
    text-align: right;
  }
}

.card__footer--link {
  padding: 0;
  border-top: none;

  a {
    @extend .btn;
    @extend .btn--sm;
    @extend .btn--block;
  }
}

.card__badge {
  @extend .badge;
  z-index: 3;
}

.card--columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;

  .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    height: auto;
    max-height: none;

    .card__block-link {
      padding-bottom: 1rem;

      &:after {
        height: 0;
        display: none;
      }
    }
  }
}


/**
 * Mutators
 */

/* Vertical and horizontally centered card */
.card--middle {
  text-align: center;
  min-height: $card_height_xs;

  .card__inner {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Image Overlay card */
.card--overlay {
  .card__block-link {
    padding-bottom: 0;
    height: 100%;

    &:after {
      height: 0;
      display: none;
    }
  }

  .card__image__wrapper {
    &:after {
      content: "";
      position: absolute;
      background: rgba(0,0,0,0.4);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .card__image {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 100%;
  }

  .card__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: background 0.2s ease;
  }

  .card__footer {
    color: rgba(#fff, 0.85);
    background: rgba($color-text,0.1);
    border-top-color: rgba(#fff,0.2);
  }

  &:hover {
    .card__inner { background: rgba(0,0,0,0.6); }
    .card__footer { color: rgba(#fff, 1); }
  }

  @include _media_breakpoint_up(sm) {
    .card__image__wrapper {
      padding-top: 0;
      height: 100%;
    }

    @include _fill_height();
  }
}

.card--bottom {
  .card__block-link {
    &:after {
      height: 0;
      display: none;
    }
  }

  .card__inner {
    position: absolute;
    height: auto;
    top: auto;
    bottom: 0;
  }

  &.card--text-shade {
    .card__image__wrapper {
      &:after {
        display: none;
      }
    }

    .card__inner {
      background: rgba(0,0,0,0.4);
    }

    &:hover {
      .card__inner {
        background: rgba(0,0,0,0.7);
      }
    }
  }
}

/* Y-scrolling card */
.card--scroll {
  max-height: $card_height_xx;
  &:after { display: none; } // kill box-shadow

  .card__inner {
    height: 87.5%;
    padding: 0;
    overflow-y: scroll;
  }
}

/* Transparent card */
.card--transparent {
  @include _card_variant($color-text, rgba(#fff, 0), 1);
  box-shadow: none;

  .card__inner {
    padding-left: 0;
    padding-right: 0;
  }

  .card__footer {
    position: relative;
    bottom: auto;
    left: auto;
    padding: 0;
    background: none;
    border-top: 0 none;
  }
}


@include _media_breakpoint_up(sm) {
  .col-3\@sm, .col-4\@sm, .col-5\@sm, .col-6\@sm {
    > .card {
      height: $card_height_sm;
    }
  }

  .card.card--overlay {
    height: $card_height_xs;
  }

  .col-4\@md,
  .col-5\@md,
  .col-6\@md,
  .col-7\@md,
  .col-8\@md,
  .col-4\@lg,
  .col-5\@lg,
  .col-6\@lg,
  .col-7\@lg,
  .col-8\@lg {
    .card.card--overlay {
      @include _fill_width();
    }
  }
}

@include _media_breakpoint_up(md) {
  [class^="col-"][class$="sm"],
  [class^="col-"][class$="md"],
  [class^="col-"][class$="lg"] {
    > .card {
      height: $card_height_md;
    }

    > .card.card--overlay {
      height: $card_height_sm;
    }
  }

  .card.card--full {
    height: $card_height_md;
  }

  .card.card--full,
  .col-8\@md  > .card,
  .col-9\@md  > .card,
  .col-10\@md > .card,
  .col-11\@md > .card,
  .col-5\@lg  > .card,
  .col-6\@lg > .card,
  .col-7\@lg > .card,
  .col-9\@lg  > .card,
  .col-10\@lg > .card,
  .col-11\@lg > .card {
    &:not(.card--overlay) {
      @include _card_horizontal();
    }
  }

  .card.card--full:not(.card--overlay) {
    height: $card_height_lg;

    .card__image__wrapper {
      width: 56.25%;
    }

    .card__inner {
      width: 43.75%;
      left: 56.25%;
    }

    .badge--right {
      margin-right: 43.75%;
    }
  }

  .col-4\@md > .card:not(.card--overlay) {
    @include _card_image_square();
  }

  .col-4\@md,
  .col-5\@md,
  .col-6\@md,
  .col-7\@md,
  .col-8\@md,
  .col-4\@lg,
  .col-5\@lg,
  .col-7\@lg,
  .col-8\@lg {
    .card.card--overlay {
      @include _fill_height();
    }
  }

  .card--columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@include _media_breakpoint_up(lg) {
  [class^="col-"][class$="sm"],
  [class^="col-"][class$="md"],
  [class^="col-"][class$="lg"] {
    > .card {
      height: $card_height_lg;
    }

    > .card.card--overlay {
      height: $card_height_md;
    }
  }

  .col-9\@lg  > .card,
  .col-10\@lg > .card,
  .col-11\@lg > .card {
    &:not(.card--overlay) {
      .card__image__wrapper {
        width: 66.6%;
      }

      .card__inner {
        width: 33.3%;
        left: 66.6%;
      }

      .badge--right { margin-right: 33.3%; }
    }
  }

  .col-6\@md,
  .col-7\@md,
  .col-7\@lg,
  .col-8\@lg {
    > .card:not(.card--overlay) {
      @include _card_horizontal();
    }
  }

  .col-3\@lg > .card {
    &:not(.card--overlay) {
      @include _card_image_square();
    }
  }

  .col-4\@md > .card:not(.card--overlay) {
    @include _card_image_wide();
  }

  .col-6\@lg {
    .card.card--overlay {
      @include _fill_height();
    }
  }

  .card--columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    .card {
      box-shadow: none;
    }
  }
}

@include _media_breakpoint_up(xl) {
  [class^="col-"][class$="sm"],
  [class^="col-"][class$="md"],
  [class^="col-"][class$="lg"],
  [class^="col-"][class$="xl"] {
    > .card {
      height: $card_height_xl;
    }

    > .card.card--overlay {
      height: $card_height_lg;
    }
  }

  .card.card--full {
    height: $card_height_xl;
  }

  .col-7\@md,
  .col-7\@lg,
  .col-8\@md,
  .col-8\@lg {
    .card.card--overlay {
      @include _fill_width();
    }
  }
}

@include _media_breakpoint_up(xx) {
  [class^="col-"][class$="sm"],
  [class^="col-"][class$="md"],
  [class^="col-"][class$="lg"],
  [class^="col-"][class$="xl"],
  [class^="col-"][class$="xx"] {
    > .card {
      height: $card_height_xx;
      margin-bottom: 40px; // = match xx gutter
    }

    > .card.card--overlay {
      height: $card_height_xl;
    }
  }

  .card.card--full,
  .col-9\@md > .card,
  .col-9\@lg > .card {
    &:not(.card--overlay) {
      height: $card_height_xx;
      margin-bottom: 40px; // = match xx gutter
      @include _fill_width();
    }
  }

  .col-6\@md > .card {
    &:not(.card--overlay),
    &:not(.card--middle), {
      @include _card_horizontal();
    }
  }

  .col-3\@lg > .card {
    &:not(.card--overlay) {
      @include _card_image_wide();
    }
  }

  .col-6\@md,
  .col-6\@lg,
  .col-7\@md,
  .col-7\@lg {
    .card.card--overlay {
      @include _fill_width();
    }
  }

  .card--columns {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;

    .card {
      margin-bottom: 40px;
    }
  }

  [class^="col-8"][class$="xs"],
  [class^="col-9"][class$="xs"],
  [class^="col-10"][class$="xs"],
  [class^="col-11"][class$="xs"] {
    .card.card--full {
      &:not(.card--overlay) {
        .card__image {
          width: 143%; // required for (xx) 16:9 on col-8 and up
        }
      }
    }
  }
}

/* No height specified */
.card--extend {
  height: auto !important;
}

/* Big, spacious cards */
.card--lg {
  .card__inner {
    padding: 3rem;

    @include _media_breakpoint_up(md) {
      padding: 4rem;
    }

    @include _media_breakpoint_up(lg) {
      padding: 5rem;
    }
  }
}
