/**
* Grid
*/

// Bootstrap Grid only
//
// Includes relevant variables and mixins for the regular (non-flexbox) grid
// system, as well as the generated predefined classes (e.g., `.col-4-sm`).

//
// Grid mixins
//


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include _make_container();
  @include _make_container_max_widths();
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include _make_container();
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include _make_row();
}


// Columns
//
// Common styles for small and large grid columns

@include _make_grid_columns();



/**
 * Grid Layout
 */

.container .container,
.container .container-fluid {
 padding-left: 0;
 padding-right: 0;
}

/* set column gutter to 40px */
@include _media_breakpoint_up(xx) {
  .layout__row, .row {
      margin-left: -20px;
      margin-right: -20px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xx-1,
  .col-xx-2,
  .col-xx-3,
  .col-xx-4,
  .col-xx-5,
  .col-xx-6,
  .col-xx-7,
  .col-xx-8,
  .col-xx-9,
  .col-xx-10,
  .col-xx-11,
  .col-xx-12,

  .col-1\@lg,
  .col-2\@lg,
  .col-3\@lg,
  .col-4\@lg,
  .col-5\@lg,
  .col-6\@lg,
  .col-7\@lg,
  .col-8\@lg,
  .col-9\@lg,
  .col-10\@lg,
  .col-11\@lg,
  .col-12\@lg,
  .col-1\@md,
  .col-2\@md,
  .col-3\@md,
  .col-4\@md,
  .col-5\@md,
  .col-6\@md,
  .col-7\@md,
  .col-8\@md,
  .col-9\@md,
  .col-10\@md,
  .col-11\@md,
  .col-12\@md,
  .col-1\@sm,
  .col-2\@sm,
  .col-3\@sm,
  .col-4\@sm,
  .col-5\@sm,
  .col-6\@sm,
  .col-7\@sm,
  .col-8\@sm,
  .col-9\@sm,
  .col-10\@sm,
  .col-11\@sm,
  .col-12\@sm,
  .col-1\@xl,
  .col-2\@xl,
  .col-3\@xl,
  .col-4\@xl,
  .col-5\@xl,
  .col-6\@xl,
  .col-7\@xl,
  .col-8\@xl,
  .col-9\@xl,
  .col-10\@xl,
  .col-11\@xl,
  .col-12\@xl,
  .col-1\@xs,
  .col-2\@xs,
  .col-3\@xs,
  .col-4\@xs,
  .col-5\@xs,
  .col-6\@xs,
  .col-7\@xs,
  .col-8\@xs,
  .col-9\@xs,
  .col-10\@xs,
  .col-11\@xs,
  .col-12\@xs,
  .col-1\@xx,
  .col-2\@xx,
  .col-3\@xx,
  .col-4\@xx,
  .col-5\@xx,
  .col-6\@xx,
  .col-7\@xx,
  .col-8\@xx,
  .col-9\@xx,
  .col-10\@xx,
  .col-11\@xx,
  .col-12\@xx {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .row {
    margin-right: -20px;
    margin-left: -20px;
  }
}


/* Create container for page layouts */
.layout__container {
  @include _make_container();
  @include _make_container_max_widths();

  &.layout__container--basic {}

  &.layout__container--fluid {
    @extend .container-fluid;
    max-width: 100%;
  }

  &.layout__container--none {
    padding: 0;
    max-width: 100%;
    width: 100%;

    .layout__row { padding: 0; margin: 0; }
  }
}

.layout__row { @extend .row }
