/**
 * List Groups
 */

$list-group-padding-x:       1.25rem;
$list-group-padding-y:       .75rem;


.list-group {
  position: relative;
  margin-bottom: 1rem;
  line-height: 1.25;
  @include _list_unstyled();
  @include _list_group_variant($color-text, #fff);
}


/**
 * Elements
 */
.list-group__item {
  display: block;
  position: relative;
  margin-bottom: -1px;
  padding: $list-group-padding-y $list-group-padding-x;
  border-width: 1px;
  border-style: solid;
  color: inherit;

  &:link:hover,
  &:link:active,
  &:link:focus {
    text-decoration: none;
    background: rgba(#000, .15);
  }

  a { display: block; color: inherit; }

  &:hover,
  &:active {
    a { color: $gray-400; }
  }
}
.list-group >div,
.list-group >a,
.list-group >li { @extend .list-group__item; }

.list-group > a {
  transition: all 0.2s ease;

  &:hover,
  &:active {
    background: $gray-100 !important;
    color: $gray-800;
  }
}

/**
 * Modifiers
 */
 .list-group--white {
  @include _list_group_variant($gray-100, transparent, $gray-300);
  a { color: inherit; }
}

/* Sizing */
.list-group--sm { @include _list_group-size($list-group-padding-y/1.1, $list-group-padding-x/1.5, $font-size-sm); }
.list-group--xs { @include _list_group-size($list-group-padding-y/1.15, $list-group-padding-x/1.5, $font-size-xs); }
