/**
* Mastheads
*/

.masthead {
  @include _clearfix();
  @include _make_container();
  @include _make_container_max_widths();
  @include _font_smoothing();
  width: 100%;
}

.masthead__logo {
  width: 80%;
  max-width: 275px;
  display: block;
  float: left;
  margin: 1rem 0;

  @include _media_breakpoint_up(xl) {
    // max-width: 350px; // removed by marketing
  }
}

.masthead__logo__image {
  max-width: 100%;
  max-height: 3rem;
}

@keyframes bump {
  0% { padding-left: 1rem; padding-right: 1rem; }
  15% { padding-left: 1.5rem; padding-right: 0.5rem; }
  55% { padding-left: 0.75rem; padding-right: 1.25rem; }
  100% { padding-left: 1rem; padding-right: 1rem; }
}

.masthead__drawer {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: auto;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  max-width: 35rem;
  background-color: $gray-800;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.375s ease-in,
  visibility 0.375s ease-in;

  @include _media_breakpoint_up(lg) {
    position: relative;
    float: right;
    width: auto;
    max-width: none;
    padding: 0;
    visibility: visible;
    background: transparent;
    transition: none;
    transform: none;
  }
}

.menu-open {
  .masthead__drawer {
    visibility: visible;
    transform: translateX(0);
    animation: bump 0.375s ease 0.375s;
  }
}

.masthead__menu__list {
  @include _list_unstyled();
  margin: 0;
  clear: both;
  padding-top: 1rem;

 >.menu-item {
    display: block;
  }

  @include _media_breakpoint_up(lg) {
    padding-top: 0;

    >.menu-item {
      display: inline-block;
      margin-right: -3px;
    }
  }
}

.menu-item {
  position: relative;
  padding: 0;
  margin: 0;
}

.menu-link,
.menu-item a {
  position: relative;
  display: block;
  padding: 1rem 1.25rem 1rem 0;
  font-size: 19px;
  color: lighten($color-text, 70%);
  border-bottom: 1px solid rgba(lighten($color-text, 70%), 0.2);

  &:hover,
  &:focus {
    text-decoration: none;
    color: lighten($color-text, 70%);
  }

  &:after {
    font-family: "Ionicons";
    content: "\f125";
    position: absolute;
    right: 0;
    vertical-align: middle;
    font-size: 15px;
    line-height: 2;
  }

  @include _media_breakpoint_up(lg) {
    padding: 29.5px 0.75rem 25.5px;
    font-size: $font-size-sm;
    color: #333;
    border-bottom: 4px solid transparent;

    &:after {
      content: none;
    }

    &:hover,
    &:focus {
      color: $color-text;
    }
  }
}

.menu-item.active > a,
.active > .menu-link {
  font-weight: bold;
  color: lighten($color-text, 80%);

  @include _media_breakpoint_up(lg) {
    color: $color-text;
    border-color: $red;
  }
}

.sub-menu {
  display: none;
  padding-top: 0;
  padding-left: 1.5rem;
  list-style: none;
  height: auto;
}

.menu-item-has-children {
  padding-right: 5px;

  &.menu-item > a,
  > .menu-link {
    padding-right: 1rem;
    &:after {
      content: "\f218" !important;

      @include _media_breakpoint_up(lg) {
        // content: none !important;
        content: "\f123" !important;
        opacity: 0.5;
        font-size: 13px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 2px;
      }
    }
  }

  &:hover,
  &:focus {
    &.menu-item > a,
    > .menu-link { border-color: $red; }
  }

  &.sub-menu--open.menu-item > a,
  &.sub-menu--open > .menu-link {
    &:after {
      content: "\f125" !important;
      color: #666;

      @include _media_breakpoint_up(lg) {
        content: none !important;
      }
    }
  }

  @include _media_breakpoint_up(lg) {
    margin-right: 0 !important;

    &.menu-item > a,
    > .menu-link::after {
      content: none !important;
    }

    &:hover {
      .sub-menu {
        display: block;
        position: absolute;
        top: 80px;
        height: auto;
        background: #fff;
        padding: 30px;
        box-shadow: 0 2px 4px rgba(#000,0.5);
        z-index: 200;
        width: 245px;
        left: 0;

        .menu-item {
          > a,
          .menu-link {
            font-size: 14px;
            margin: 0;
            padding: 11px 0;
            color: #000;
            border-bottom: 1px solid $gray-400;

            &:hover,
            &:focus {
              color: $gray-400;
              text-decoration: none;
            }
          }

          &:first-child {
            > a,
            .menu-link { padding-top: 0; }
          }
        }
      }
    }
  }

  &:last-child {
    @include _media_breakpoint_up(lg) {
      &.menu-item > a,
      >.menu-link::after {
        content: none !important;
      }

      &:hover {
        .sub-menu {
          left: auto;
          right: 0;

          &:after {
            left: auto;
            right: 20%;
            transform: translateX(-20%);
          }
        }
      }
    }
  }
}

.masthead__toggler {
  position: relative;
  display: block;
  float: right;
  overflow: hidden;
  margin: 1.25rem 0 1.75rem;
  padding: 0;
  width: 26px;
  height: auto;
  font-size: 2rem;
  line-height: 1;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #888;

  &:focus {
    outline: none;
  }

  &.menu-is-open {
    font-size: 1.5rem;
    color: #999;
  }

  @include _media_breakpoint_up(lg) {
    display: none;
    width: 0;
    height: 0;
    float: none;
  }
}

.menu-is-open {
  @include _media_breakpoint_up(lg) { display: none; }
}


/**
* Modifiers
*/

// add a border to the bottom of active nav link
@include _media_breakpoint_up(lg) {
  .masthead__menu__list--border {
    .active>.menu-link,
    .active.menu-item>a { border-bottom: 3px solid rgba($color-text, 0.35); }
  }
}

// position the nav over an image or background
.masthead--overlay {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  z-index: 100;

  @include _media_breakpoint_up(lg) {
    @include _make_container_max_widths();
    left: 50%;
    transform: translateX(-50%);

    .menu-item a,
    .menu-link,
    .active>.menu-link,
    .active.menu-item a {
      color: #fff;
    }

    .menu-item-has-children:hover .sub-menu {
      .menu-link {
        &:hover {}
      }
    }
  }

  .masthead__toggler { color: #fff; }
}

/* keep this after masthead--overlay to cascade max-width
   when chaining -overlay with -wide */
.masthead--wide {
  width: 100%;
  max-width: none;
}

.masthead--black {
  background-color: #000;

  @include _media_breakpoint_up(lg) {
    border-bottom: 1px solid $gray-500;

    .menu-item a,
    .menu-link {
      color: rgba(255, 255, 255, 0.8);

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }

    .menu-item.active > a,
    .active > .menu-link { color: #fff; }
  }
}
