/**
 * Media Objects
 */

.media {
  margin-bottom: 1rem;
  @include _media_object_size($font-size-sm, $font-size-base);
}


/**
 * Elements
 */

.media__block-link {
  display: block;
  padding: 1rem;
  color: inherit;
  height: 100%;
  overflow: hidden;
  @include _box_shadow();
  @include _clearfix();

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
  }
}

.media__image__wrapper {
  position: relative;
  float: left;
  width: 4rem;
  height: 4rem;
  background: #555;
  overflow: hidden;
  border-radius: 4rem;
  margin-right: 1rem;
  box-shadow: none;
  transition: box-shadow 0.25s ease;
}

.media__image {
  position: absolute;
  max-height: 130%; // min for 3:4 portrait images
  max-width: 180%; // min for 16:9 landscape images
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media__body {
  display: table-cell;
  vertical-align: top;

  p:last-child {
    margin-bottom: 0;
  }
}

.media__title {
  line-height: 1.3;
  font-size: $font-size-base;
  font-weight: 900;
  margin-bottom: 0;
}

.media__copy {
  font-size: $font-size-sm;
}

.media__list {
  list-style: none;
  margin: 0;
  padding: 0;

  .media {
    margin: 0;
    border-bottom: 1px solid $gray-200;
    padding: 0;

    &:last-child {
      border-bottom: 0 none;
    }
  }

  .media__block-link { box-shadow: none; }
}


/**
 * Modifiers
 */

/* Sizing */
.media--xs { @include _media_object_size($font-size-xs, $font-size-xs, 3rem); margin-bottom: 0.5rem; }
.media--sm { @include _media_object_size($font-size-sm, $font-size-base, 3rem); }
.media--lg { @include _media_object_size($font-size-sm, $font-size-base, 5rem); }

/* Positioning */
.media--left {}
.media--right {
  .media__image__wrapper {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }
}

.media__list--rect {
  .media__block-link {
    padding-left: 0;
  }

  .media__image__wrapper {
    border-radius: 0;
    width: 8rem;
    height: 5.5rem;
  }

  .media__image {
    top: 65%; // prevent head crop on portrait images
    max-height: 170%; // min for 16:9 portrait images
    max-width: 160%; // min for 3:4 landscape images
  }
}
