/**
* Modals
*/

// Bootstrap utility to kill the scroll on the body
.modal-open { overflow: hidden; }

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 4000;
  display: none;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  @include _modal_variant();

  // When fading in the modal, animate it to slide down
  &.fade .modal__dialog {
    transition: transform .5s ease-out;
    transform: translate(0, -25%);
  }

  &.in .modal__dialog,
  &.show .modal__dialog,
  &.active .modal__dialog { transform: translate(0, 0); }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal .close {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  background: 0 none;
  border: 0;
  @extend .ds--1;
  font-weight: 400;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  transition: opacity 0.2s ease;
  z-index: 4001;

  &:hover {
    opacity: 1;
  }
}

/**
* Elements
*/

// Bootstrap utility to measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Shell div to position the modal with bottom padding
.modal__dialog {
  position: relative;
  width: auto;
  margin: 3rem auto;
  max-width: 450px;

  @include _media_breakpoint_up(md) {
    max-width: 760px;
  }
}

// Actual modal
.modal__content {
  position: relative;
  background-clip: padding-box;
  border: 0 none;
  border-radius: 2px;
  outline: 0;
  @include _box_shadow();
}

// Bootstrap utility for lights-out behind the modal
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3999;
  background-color: $gray-800;
  transition: opacity 0.5s ease;

  &.fade { opacity: 0; }
  &.in,
  &.show,
  &.active { opacity: 0.65; }
}

.modal__header {
  padding: 1rem 1.25rem;
  border-bottom: 1px solid $gray-300;
  @include _clearfix;
}

.modal__title {
  margin: 0;
}

.modal__body {
  position: relative;
  padding: 1rem 1.25rem;
}

.modal__image__wrapper {
  overflow: hidden;
}

.modal__image {
  width: 100%;
  height: auto;
}

.modal__footer {
  padding: 1rem 1.25rem;
  text-align: right; // right align buttons
  border-top: 1px solid $gray-300;
  @include _clearfix();
}


/**
* Modifiers
*/

.modal--contact {}

.modal--contact__info { font-size: $font-size-sm; }

.modal--contact__bio { @include _media_breakpoint_up(md) { padding: 7rem 2.5rem 1rem 1.25rem; } }

.modal--contact__name {
  @extend .ds--2;
  font-weight: 900;
}

.modal--contact__title {
  font-size: $font-size-lg;
  line-height: 1.4;
}
