/**
 * Sharing
 */

.share-buttons {
  list-style: none;
  padding-left: 1px;
  display: inline-block;
  width: auto;
  @include _clearfix();

  li {
    margin: 0 -1px 0 0;
    float: left;
    font-size: 1.25rem;
    padding: 0;
  }

  a {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    color: #777;
    text-align: center;
    line-height: 2.5rem;

    &:hover {
      color: $link-color;
    }
  }

  &.share-buttons--stacked {
    padding-left: 0;

    li {
      float: none;
      margin: 0 0 -1px 0;
    }
  }
}
