/**
 * Tables
 */

table,
.table {
  width: 100%;
  margin-bottom: 1rem;
}

td, th {
  margin: 0;
  padding: .75rem;
  border-bottom: 1px solid #ddd;
  font-size: $font-size-sm;
  vertical-align: top;
  line-height: 1.4;
}

.th--sm th {
  font-size: $font-size-xs;
  color: rgba($color-text, 0.65);
}

.table--border-vertical {
  td, th {
    border: 1px solid #ddd;
  }
}

.shaded,
.table--striped tr:nth-child(even) {
  background-color: rgba($color-text, 0.1);
}

.table--responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
