/**
 * Tiles
 */

.tile {
  position: relative;
  margin-bottom: 30px; // = gutter
  overflow: hidden;
  box-shadow: none;
  background: #fff;
  transition: box-shadow .15s ease,
              background 0.1s ease;
  border-radius: 2px;
  height: 12rem;

  p:last-child {
    margin-bottom: 0;
  }

  @include _media_breakpoint_up(sm) {
    height: 10rem;
  }

  @include _media_breakpoint_up(xx) {
    height: 11rem;
    margin-bottom: 40px; // = gutter
  }

  &:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}

.tile__block-link {
  @extend .card__block-link;

  &:after {
    height: 2rem;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    z-index: 10;
    transition: background 0.1s ease;
  }
}

.tile__header {
  @extend .card__header;
  padding: 0.5rem 1rem;
}

.tile__title { font-size: $font-size-sm; }

.tile:not(.tile--middle) {
  .tile__title,
  .tile__header {
    padding-right: 1rem;
    position: relative;

    [class^="ion"] {
      top: 0;
      right: 0;
      position: absolute;
      &:after {
        font-size: 16px;
      }
    }
  }
  .tile__header {

    [class^="ion"] {
      top: 0.5rem;
      right: 1rem;
    }
  }
}

.tile__text { font-size: $font-size-xs; }

.tile__inner {
  @extend .card__inner;
  padding: 1rem;
}

.tile__image__wrapper {
  @extend .media__image__wrapper;
  float: none;
  margin: 0 auto 0.5rem;
}

.tile__image {
  @extend .media__image;
}

.tile__badge {
  @extend .badge;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;

  @include _media_breakpoint_up(xl) {
    top: 0;
    left: 0;
  }

  @include _media_breakpoint_up(xx) {
    top: 0;
    left: 0;
  }

  &.badge--center {
    @extend .badge--center;
  }

  &.badge--right {
    @extend .badge--right;
    right: 0;

    @include _media_breakpoint_up(xl) {
      right: 0;
    }

    @include _media_breakpoint_up(xx) {
      right: 0;
    }
  }
}


/**
 * Modifiers
 */

.tile--middle { text-align: center; }

.tile--border-bottom { border-bottom: 5px solid rgba(0,0,0,0.375); }

.tile--overlay {
  @extend .tile--middle;
  padding: 0.5rem;

  .tile__inner {
    left: 0;
    color: #fff;
  }

  .tile__block-link {
    position: relative;
    padding: 0.5rem;
    background: $color-component-dark;

    &:after {
      background: linear-gradient(to bottom, rgba($color-component-dark,0) 0%, rgba($color-component-dark,1) 70%);
    }
  }
}

.tile--overlay--image {
  .tile__block-link {
    padding-bottom: 0;
    height: 100%;
    position: relative; // explicitly declared for overflow hidden

    &:after {
      height: 0;
      display: none;
    }
  }

  .tile__image__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: $gray;
  }

  .tile__image {
    position: absolute;
    left: 50%;
    top: -10%;
    height: auto;
    width: 150%;
    min-height: 0;
    margin: 0;
    transform: translateX(-50%);

    @include _media_breakpoint_up(sm) {
      top: 0;
      height: 110%;
      width: auto;
    }
  }

  .tile__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0,0,0,0.25);
    text-shadow: 0 1px 2px rgba(0,0,0,0.35);
  }

  .align-bottom {
    position: absolute;
    bottom: 1rem;
  }

  &:hover .tile__inner {
    background: rgba(0,0,0,0.6);
  }
}

.tile--outline {
  border-width: 1px;
  border-style: solid;
  border-color: $gray-300;
  transition: none;

  &:hover .tile__block-link {
    height: 1rem;
    transition: none;
  }
}

.tile--bottom {
  .tile__block-link {
    &:after {
      height: 0;
      display: none;
    }
  }

  .tile__inner {
    position: absolute;
    bottom: 0;
  }
}

.tile--no-fade {
  .tile__block-link {
    &:after {
      height: 0;
      display: none;
    }
  }
}
