/**
* Type
*/

.ds--1 {
  font-size: $display-size-1 !important;
  line-height: $display-height-1 !important;
}

.ds--2 {
  font-size: $display-size-2 !important;
  line-height: $display-height-2 !important;
}

.ds--3 {
  font-size: $display-size-2 !important;
  line-height: $display-height-2 !important;

  @include _media_breakpoint_up(md) {
    font-size: $display-size-3 !important;
    line-height: $display-height-3 !important;
  }
}

.ds--4 {
  font-size: $display-size-2 !important;
  line-height: $display-height-2 !important;

  @include _media_breakpoint_up(md) {
    font-size: $display-size-4 !important;
    line-height: $display-height-4 !important;
  }
}

.ds--5 {
  font-size: $display-size-3 !important;
  line-height: $display-height-3 !important;

  @include _media_breakpoint_up(md) {
    font-size: $display-size-5 !important;
    line-height: $display-height-5 !important;
  }
}

.ds--6 {
  font-size: $display-size-3 !important;
  line-height: $display-height-3 !important;

  @include _media_breakpoint_up(md) {
    font-size: $display-size-6 !important;
    line-height: $display-height-6 !important;
  }
}

.shadow-text--none {
  text-shadow: none;
}
