/**
 * Mixins
 *
 * Various mixins to build components
 *
 * ------ Accordions
 * ------ Alerts
 * ------ Badges
 * ------ Banners
 * ------ Blockquotes
 * ------ Buttons
 * ------ Cards
 * ------ Colors
 * ------ List Groups
 * ------ Media Objects
 * ------ Modals
 * ------ Tiles
 */


/**
 * Accordions
 */
@mixin _accordion_variant($color: $color-text, $background: $gray-100, $trigger: lighten($color-text,70%), $chevron: #c00) {
  background: $background;
  color: $color;
  .pods-accordion__trigger {
    background: $trigger;

    &:after {
      color: $chevron;
    }
  }
}


/**
 * Alerts
 */
@mixin _alert_size($padding-y, $padding-x, $font-size: $font-size-base) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
}

@mixin _alert_variant($color: #fff, $background: $color-component-light) {
  color: $color;
  background-color: $background;
  border-color: $background;
  border-width: 1px;
  border-style: solid;

  a {
    color: $color;

    &:hover {
      color: rgba($color, 0.8);
    }
  }

  &.alert--outline {
    color: darken($background, 10%);
    background-color: transparent;
    border-color: rgba($background, 0.5);
    border-radius: 4px;
  }
}


/**
 * Badges
 */
@mixin _badge_variant($color: $color-text, $background: $color-component-base) {
  background-color: rgba($background, .8);
  color: $color;

  &.badge--outline {
    color: $background;
    background-color: transparent;
    border: 1px solid $background;
  }

  &:hover a { color: rgba($color, 0.85); }
}


/**
 * Banners
 */
@mixin _banner_size($min-height, $padding-y, $padding-x: 0, $font-size: $font-size-base) {
  min-height: $min-height;

  padding: $padding-y $padding-x;

  &.banner--top { padding: 2rem $padding-x $padding-y; }
  &.banner--bottom { padding: $padding-y $padding-x 2rem; }

  // &.layout__section { margin-top: $padding-y/3; }
}

@mixin _banner_variant($color, $background) {
  background-color: $background;
  color: $color;
}


/**
 * Blockquotes
 */
@mixin _blockquote_size($padding-y, $padding-x, $font-size: $font-size-lg) {
  padding: $padding-y $padding-x;
  font-size: $font-size;

  &.blockquote--mark {
    padding-top: ceil(($padding-y + 2)) !important;

    &:before {
      top: ceil(($padding-y - 1));
      left: $padding-x;
    }
  }
}

@mixin _blockquote_variant($color, $background) {
  background-color: $background;
  color: $color;

  .blockquote__cite:before { background: $color; }

  &.blockquote--outline {
    color: $background;
    background-color: transparent;
    border: 1px solid rgba($background, 0.65);
    box-shadow: none;
  }
}

/*
 * Button variants
 */

// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin _button_variant($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border-color: $border;
  // @include _box_shadow($btn-box-shadow);

  @include _hover {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:focus,
  &.focus {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
    // Remove the gradient for the pressed/active state
    background-image: none;
    // @include _box_shadow($btn-active-box-shadow);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
    @include _hover {
      background-color: $background;
          border-color: $border;
    }
  }

  &.btn--outline {
    color: $background;
    background-image: none;
    background-color: transparent;
    border-color: $background;

    @include _hover {
      color: #fff;
      background-color: $background;
          border-color: $background;
    }

    &:focus,
    &.focus {
      color: #fff;
      background-color: $background;
          border-color: $background;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
      color: #fff;
      background-color: $background;
          border-color: $background;

      &:hover,
      &:focus,
      &.focus {
        color: #fff;
        background-color: darken($background, 17%);
            border-color: darken($background, 25%);
      }
    }

    &.disabled,
    &:disabled {
      &:focus,
      &.focus {
        border-color: lighten($background, 20%);
      }
      @include _hover {
        border-color: lighten($background, 20%);
      }
    }
  }
}

// Button sizes
@mixin _button_size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  @include _border_radius($border-radius);
}


/**
 * Cards
 */
@mixin _card_variant($color: $color-text, $background: rgba(255,255,255,1), $is_transparent: 0) {
  color: $color;
  background: $background;

  .card__footer {
    background: rgba($background, 0.8);
    border-top-color: rgba($color, 0.25);
    color: rgba($color, 0.85);
  }

  @if $is_transparent == 1 {
    .card__block-link:after {
      background: transparent;
      height: 0;
    }

    &:hover {
      background: transparent;
      box-shadow: none;
    }
  } @else {
    .card__block-link:after { background: linear-gradient(to bottom, rgba($background,0) 0%,rgba($background, 1) 70%); }

    &:hover {
      background: darken(rgba($background, 1), 5%);
      .card__footer { color: rgba($color, 1); }
    }
  }


  /* don't change this, or else white cards will darken to light gray on hover */
  @if $background == rgba(255, 255, 255, 1) {
    &:hover { background: rgba(255, 255, 255, 1); }
  }
}

// set image and text side by side
@mixin _card_horizontal($background: rgba(255,255,255,1)) {
  .card__image__wrapper {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
    overflow: hidden;
  }

  .card__image {
    height: 110%; // faux crop for fitting 4:3 images in 16:9
    width: auto;
    max-width: none;
  }

  .card__inner {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    height: 100%;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 6rem;
      background: linear-gradient(to bottom, rgba($background,0) 0%,rgba($background,1) 70%);
      z-index: 10;
    }
  }

  &:after {
    height: 0;
    display: none;
  }

  .card__block-link { padding-bottom: 0; }

  .badge--right { margin-right: 50%; }
}

@mixin _card_image_square() {
  .card__image__wrapper {
    padding-top: 75%; //100%;
  }

  .card__image {
    width: auto;
    height: 100%;
  }
}

@mixin _card_image_wide() {
  .card__image__wrapper {
    padding-top: 56.25%;
  }

  .card__image {
    width: 100%;
    height: auto;
  }
}

@mixin _fill_width() {
  .card__image {
    width: 107%; // necessary for 16:9 on col-9 and up
    height: auto;
  }
}

@mixin _fill_height() {
  .card__image {
    width: auto;
    height: 100%;
  }
}


/**
 * Colors
 */
@mixin _color_font($color) {
  color: $color !important;
}

@mixin _color_bg($color) {
  background-color: $color;
}


/**
* List Groups
*/
@mixin _list_group_size($padding-y, $padding-x, $font-size: $font-size-base) {
  font-size: $font-size;

  .list-group__item, li { padding: $padding-y $padding-x; }
}

@mixin _list_group_variant($color: $color-text, $background: transparent, $border: $gray-200, $striped: rgba(#000, .1)) {
  background: $background;
  color: $color;

  .list-group__item, li {
    border-color: $border;
    border-bottom: 0 none;

    &:last-child {
      border-bottom: 1px solid $border;
    }
  }

  &.list-group--striped .list-group__item,
  &.list-group--striped >li {
    &:nth-child(odd) { background-color: $striped; }
  }
}


/**
 * Media Objects
 */
@mixin _media_object_size($font-size: $font-size-sm, $font-size-title: $font-size-base, $img-size: 4rem) {
  .media__title { font-size: $font-size-title; }

  .media__copy { font-size: $font-size; }

  .media__image__wrapper { @include _size($img-size, $img-size); }
}


/**
 * Modals
 */
@mixin _modal_variant($color: $color-text, $background: #fff) {
  .modal__content {
    background: $background;
    color: $color;
  }
  .close { color: $color; }
  .modal-backdrop { background-color: $color; }
}


/**
 * Tiles
 */
@mixin _tile_variant($color: $color-text, $background: #fff) {
  background: $background;
  color: $color;

  .tile__block-link:after {
    background: linear-gradient(to bottom, rgba($background ,0) 0%, rgba($background, 1) 65%);
  }

  &:hover {
    background: darken(rgba($background, 1), 5%);

    .tile__block-link:after {
      background: linear-gradient(to bottom, rgba(darken($background, 5%) ,0) 0%, rgba(darken($background, 5%), 1) 65%);
    }
  }

  /* don't change this, or else white tiles will darken to light gray on hover */
  @if $background == rgba(255, 255, 255, 1) {
    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }

  &.tile--outline {
    color: $background;
    background: #fff;
    border-color: $background;

    &:not(:hover) .tile__block-link:after {
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 70%);
    }

    &:hover {
      color: #fff;
      background: darken($background, 5%) !important;
      .tile__block-link:after {
        background: linear-gradient(to bottom, rgba($background, 0) 0%,rgba(darken($background, 5%), 1) 65%) !important;
      }
    }
  }
}
