/**
 * Mixin to retrieve a component passing
 */
@mixin _get_component($component, $color, $color_grade: false, $color_text_dark: null) {
  $component_text_color: #fff;
  @if $color_text_dark != null { $component_text_color: rgba($black, 0.7); }

  @if $component == 'alert' { @include _alert_variant($component_text_color, $color); }
  @if $component == 'badge' { @include _badge_variant($component_text_color, $color); }
  @if $component == 'banner' { @include _banner_variant($component_text_color, $color); }
  @if $component == 'blockquote' { @include _blockquote_variant($component_text_color, $color); }
  @if $component == 'btn' { @include _button_variant($component_text_color, $color, $color); }
  @if $component == 'btn-outline' { @include _button_outline_variant($color); }
  @if $component == 'card' { @include _card_variant($component_text_color, $color); }
  @if $component == 'bg' { @include _color_bg($color); }
  @if $component == 'text' { @include _color_font($color); }
  @if $component == 'tile' { @include _tile_variant($component_text_color, $color); }
}


/**
 * Palette Generator
 */
@mixin _generate_component_colors($component, $palette_collection: $palette) {
  // Loop through each palette collection and then each color set
  @each $palette_label, $palette_colors in $palette_collection {
    @each $current_color, $current_variant, $current_text_dark in $palette_colors {

      // checks to see if color has a variant
      // if false: make color the component's base
      // if true: append grade to class
      @if ($current_variant == false) {
        .#{$component}--#{$palette_label} {
          @include _get_component($component, $current_color, false, $current_text_dark);
        }
      } @else {
        .#{$component}--#{$palette_label}-#{$current_variant} {
          @include _get_component($component, $current_color, $current_variant, $current_text_dark);
        }
      }
    }
  }
}
