/// Grid system
//
// Generate semantic grid columns with these mixins.

@mixin _make_container($gutter: $grid-gutter-width-base) {
  margin-left: auto;
  margin-right: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  @include _clearfix();
}


// For each breakpoint, define the maximum width of the container in a media query
@mixin _make_container_max_widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include _media_breakpoint_up($breakpoint, $breakpoints) {
      width: $container-max-width;
      max-width: 100%;
    }
  }
}

@mixin _make_gutters($gutters: $grid-gutter-widths) {
  @each $breakpoint in map-keys($gutters) {
    @include _media_breakpoint_up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      padding-right: ($gutter / 2);
      padding-left:  ($gutter / 2);
    }
  }
}

@mixin _make_row($gutters: $grid-gutter-widths) {
    @include _clearfix();

  @each $breakpoint in map-keys($gutters) {
    @include _media_breakpoint_up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      margin-right: ($gutter / -2);
      margin-left:  ($gutter / -2);
    }
  }
}

@mixin _make_col_ready($gutters: $grid-gutter-widths) {
  position: relative;
  min-height: 1px; // Prevent collapsing

  @each $breakpoint in map-keys($gutters) {
    @include _media_breakpoint_up($breakpoint) {
      $gutter: map-get($gutters, $breakpoint);
      padding-right: ($gutter / 2);
      padding-left:  ($gutter / 2);
    }
  }
}

@mixin _make_col($size, $columns: $grid-columns) {
    float: left;
    width: percentage($size / $columns);
  }

@mixin _make_col_offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin _make_col_push($size, $columns: $grid-columns) {
  left: if($size > 0, percentage($size / $columns), auto);
}

@mixin _make_col_pull($size, $columns: $grid-columns) {
  right: if($size > 0, percentage($size / $columns), auto);
}

@mixin _make_col_modifier($type, $size, $columns) {
  // Work around the lack of dynamic mixin @include support (https://github.com/sass/sass/issues/626)
  @if $type == push {
    @include _make_col_push($size, $columns);
  } @else if $type == pull {
    @include _make_col_pull($size, $columns);
  } @else if $type == offset {
    @include _make_col_offset($size, $columns);
  }
}
