/**
 * Type Mixins
 */

/* apply font smoothing to element(s) */
@mixin _font_smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin _font_sizing($selector, $sizes) {
  @each $label, $size in $sizes {
    .#{$selector}--#{$label} { font-size: #{$size} !important; }
  }
}

@mixin _list_unstyled {
  padding-left: 0;
  list-style: none;
}
