/**
 * Utilities
 */


/**
 * Shadows
 */
 @mixin _box_shadow($blur: 0.25rem, $alpha: 0.2) {
  -webkit-box-shadow: 0 0 $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: 0 0 $blur rgba(0, 0, 0, $alpha);
  box-shadow: 0 0 $blur rgba(0, 0, 0, $alpha);
}

/**
 * Clearfix
 */
@mixin _clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Transitions
 */
 @mixin _transition($transition...) {
   -webkit-transition: $transition;
        -o-transition: $transition;
           transition: $transition;
 }

/**
 * Border Radius
 */
@mixin _border_radius($radius: $border-radius) {
  border-radius: $radius;
}

@mixin _border_top_radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin _border_right_radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin _border_bottom_radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin _border_left_radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

/**
 * Hover
 */

@mixin _hover {
  &:hover { @content }
}

@mixin _hover_focus {
  &:focus,
  &:hover {
    @content
  }
}

@mixin _plain_hover_focus {
  &,
  &:focus,
  &:hover {
    @content
  }
}

@mixin _hover_focus_active {
  &:focus,
  &:active,
  &:hover {
    @content
  }
}

/*
 * Tab Focus
 */
 @mixin _tab_focus() {
   // WebKit-specific. Other browsers will keep their default outline style.
   // (Initially tried to also force default via `outline: initial`,
   // but that seems to erroneously remove the outline in Firefox altogether.)
   outline: 5px auto -webkit-focus-ring-color;
   outline-offset: -2px;
 }

 /*
  * Responsive Images
  */
 
 // Keep images from scaling beyond the width of their parents.
 @mixin _img_fluid($display: block) {
   display: $display;
   max-width: 100%; // Part 1: Set a maximum relative to the parent
   height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
 }

 // Sizing shortcuts
 
 @mixin _size($width, $height) {
   width: $width;
   height: $height;
 }
 
 @mixin square($size) {
   @include _size($size, $size);
 }