/**
 * Color Palette
*/


// Grays
$gray-100: #efefef;
$gray-200: #d0d0d0;
$gray-300: #b5b5b5;
$gray-400: #979797;
$gray-500: #797979;
$gray-600: #666666;
$gray-700: #535353;
$gray-800: #333333;
$gray-900: #1a1a1a;
$gray: #58585a;
$gray-dark: $gray-900;
$gray-light: #7b7778;
$black: #000;

$gray-scale: (
  ($gray-100, '100'),
  ($gray-200, '200'),
  ($gray-300, '300'),
  ($gray-400, '400'),
  ($gray-500, '500'),
  ($gray-600, '600'),
  ($gray-700, '700'),
  ($gray-800, '800'),
  ($gray-900, '900'),
  ($gray, false),
  ($gray-dark, 'dark'),
  ($gray-light, 'light'),
  ($black, 'false')
);

// Reds
$red:       #cc0000;
$red-dark:  #930000;
$red-light: #da3426;

$red-scale: (
  ($red, false),
  ($red-dark, 'dark'),
  ($red-light, 'light')
);

// Oranges
$orange:       #f68c1e;
$orange-dark:  #d15f08;
$orange-light: #f9b268;

$orange-scale: (
  ($orange, false),
  ($orange-dark, 'dark'),
  ($orange-light, 'light', 'dark')
);

// Yellows
$yellow:       #fec42f;
$yellow-dark:  #f9b301;
$yellow-light: #fed262;

$yellow-scale: (
  ($yellow, false, 'dark'),
  ($yellow-dark, 'dark', 'dark'),
  ($yellow-light, 'light', 'dark')
);

// Greens
$green:       #aebe42;
$green-dark:  #808c15;
$green-light: #d4e291;

$green-scale: (
  ($green, false, 'dark'),
  ($green-dark, 'dark'),
  ($green-light, 'light', 'dark')
);

// Teals
$teal:       #309aa8;
$teal-dark:  #13606d;
$teal-light: #aed8da;

$teal-scale: (
  ($teal, false),
  ($teal-dark, 'dark'),
  ($teal-light, 'light', 'dark')
);

// Blues
$blue:       #5c7d9e;
$blue-dark:  #2f4a61;
$blue-light: #aec2da;

$blue-scale: (
  ($blue, false),
  ($blue-dark, 'dark'),
  ($blue-light, 'light', 'dark')
);

// Purples
$purple:       #9d64a2;
$purple-dark:  #511951;
$purple-light: #d0b7d5;

$purple-scale: (
  ($purple, false),
  ($purple-dark, 'dark'),
  ($purple-light, 'light', 'dark')
);

// Beige
$beige:       #bdb29f;
$beige-dark:  #615547;
$beige-light: #ece6d5;

$beige-scale: (
  ($beige, false, 'dark'),
  ($beige-dark, 'dark'),
  ($beige-light, 'light', 'dark')
);

$black-alpha: rgba(0, 0, 0, 0.7);


/**
 * Generate color palette
 *
 * array of colors to be looped through
 */

$palette: (
  ('gray', $gray-scale),
  ('red', $red-scale),
  ('blue', $blue-scale),
  ('green', $green-scale),
  ('purple', $purple-scale),
  ('yellow', $yellow-scale),
  ('orange', $orange-scale),
  ('teal', $teal-scale),
  ('beige', $beige-scale)
);
