/**
 * Set project specific variables
 */

/* Enable Palette per component */
$generate_colors_alert: true !default;
$generate_colors_badge: true !default;
$generate_colors_banner: true !default;
$generate_colors_bg: true !default;
$generate_colors_blockquote: true !default;
$generate_colors_btn: true !default;
$generate_colors_card: true !default;
$generate_colors_text: true !default;
$generate_colors_tile: true !default;

/* Components */
$color-component-base:  rgba(255,255,255,0.8);
$color-component-light: $gray-100;
$color-component-dark:  $gray-800;

/* States */
$color-success: $green;
$color-info:    $blue;
$color-warning: $orange;
$color-danger:  $red;

/* Applying to Bootstrap color variables */
$color-text:    $gray-800;
