/**
 * Typography
 *
 */


/**
 * Family
 */

$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      "Baskerville", Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base:       $font-family-sans-serif;
$headings-font-family:   inherit;


/**
* Sizing
*/
$font-size-root:    15px;

/* Display Sizing */
$display-size-1:    1.65rem;
$display-size-2:    2.125rem;
$display-size-3:    3.05rem;
$display-size-4:    3.5rem;
$display-size-5:    4.0rem;
$display-size-6:    4.5rem;

/* Display Line-heights */
$display-height-1:    1.25;
$display-height-2:    1.2;
$display-height-3:    1.1;
$display-height-4:    1.05;
$display-height-5:    1.05;
$display-height-6:    1.05;

/* Font Sizing */
$font-size-xs:    0.75rem;
$font-size-sm:    0.875rem;
$font-size-base:  1.0rem;
$font-size-lg:    1.25rem;
$font-size-xl:    1.5rem;

$font-sizes: (
  (xs, $font-size-xs),
  (sm, $font-size-sm),
  (base, $font-size-base),
  (lg, $font-size-lg),
  (xl, $font-size-xl)
);

/* Headings */
$font-size-h1:    2.25rem;
$font-size-h2:    2rem;
$font-size-h3:    1.5rem;
$font-size-h4:    1.25rem;
$font-size-h5:    1rem;
$font-size-h6:    1rem;

/* Misc */
$font-size-lead:  $font-size-lg;
$small-font-size: $font-size-sm;

/* Line Height */
$line-height-base:      1.5;
$headings-line-height:  1.1;


/**
 * Links
 */
// $link-color:            $palette-blue-500;
$link-color:            $blue;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

