/**
 * PODS Style Guide
 */

@import 'main.scss';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400';

/* responsive utility to show breakpoint label */
body.pods-sg {

  &:after {
    content: "xs";
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    width: auto;
    padding: 5px 10px;
    background: yellow;
    text-align: center;
    font-size: 11px;
    border-radius: 2px;
    z-index: 9999;

    @include _media_breakpoint_up(sm) { content: "sm"; }

    @include _media_breakpoint_up(md) { content: "md"; }

    @include _media_breakpoint_up(lg) { content: "lg"; }

    @include _media_breakpoint_up(xl) { content: "xl"; }

    @include _media_breakpoint_up(xx) { content: "xx"; }
  }

}

.pods-sg-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: .75em;
  margin: 0 0 3em;
  color: #615547;
  font-weight: 300;
  font-size: 1em;
  font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
  @include _clearfix();
  transition: background 0.3s ease;

  &:hover {
    background: rgba(255,255,255,1);
  }
}

.pods-sg-logo {
  float: left;
  margin-right: 1rem;
  font-size: 21px;
  color: $color-text;
  letter-spacing: -1px;
  transition: color 0.5s ease;

  span { transition: color 0.5s ease; }

  &:not(.pods-sg-logo--home) {
    &:hover,
    &:focus,
    &:hover span {
      text-decoration: none;
      color: $color-text !important;
      text-shadow: 0 0 5px 0 rgba($gray-500,0.3);
    }
  }
}

.pods-sg-logo--home {
  float: none;
  margin: 0;
  @extend .ds--2;
  font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 100;
  letter-spacing: -0.25rem;
  padding: 1rem 0 1.5rem;
}

.pods-sg-nav {
  position: relative;
  float: left;
  top: 4px;

  @include _media_breakpoint_up(lg) {
    top: 3px;
  }

  &:hover {
    text-decoration: none;

    .pods-sg-nav__list { display: block; }
  }
}

.pods-sg-nav__title {
  display: inline-block;
  padding: .3em .75em;
  color: white;
  font-size: 12px;
  background: lighten($color-text,20%);
  border-radius: 5rem;

  &:hover {
    text-decoration: none;
    color: white;
    background: lighten($color-text, 35%);
  }

  @include _media_breakpoint_up(lg) {
    font-size: 13px;
  }
}

.pods-sg-nav__list {
  display: none;
  z-index: 99;
  position: absolute;
  // top: 31px;
  left: 0;
  width: 200px;
  text-transform: capitalize;
  font-size: 12px;
  background: #fff;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);

  @include _media_breakpoint_up(lg) {
    font-size: 13px;
  }
}

.pods-sg-nav__item {
  display: block;
  padding: .5rem 1.75rem;
  color: $color-text;

  &:hover {
    text-decoration: none;
    background: #f7f7f7;
  }
}

.pods-sg-nav__item--active { background: #eee; }

.wrap { padding-top: 65px; /* height of chrome header */ }

.card.card--sg-home {
  margin-top: 0;
  min-height: 100px;
  max-height: 150px;
  transition: background 0.5s ease;

  .card__title {
    text-transform: capitalize;
    transition: all 0.25s ease;
    color: lighten($color-text, 20%);
    padding-bottom: 0;
    font-weight: 200;
    text-shadow: none;
    @include _font_smoothing();
  }

  .card__block-link {
    &:after {
      display: none;
      height: 0;
    }
  }

  &:hover {
    background: $gray;
    box-shadow: none;

    .card__title {
      font-size: 1.2rem;
      color: #fff;
      padding-bottom: 0.125rem;
      text-shadow: 0 7px 14px rgba(0,0,0,0.2);
    }

    .card__block-link { box-shadow: inset 0 0 4rem rgba(0,0,0,0.125); }
  }
}

/* Sections */
.pods-sg-section {
  min-height: 10rem;
  padding: 0; // works for waypoints. don't change this value.
  position: relative;
}

.pods-sg-section__header {
  z-index: 99;
  width: 100%;
  // height: 65px;
  padding: .5rem;
  margin: 0;
  overflow: hidden;
  color: $color-text;
  font-size: $font-size-sm;
  font-weight: 200;
  font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;
  text-transform: uppercase;
  text-align: center;
  background: lighten($color-text,70%);
}

.pods-sg-section--active {
  padding-top: 65px; // works for waypoints. don't change this value.

  .pods-sg-section__header {
    position: fixed;
    top: 65px; // works for waypoints. don't change this value.
    background: $color-text;
    color: #fff;
  }
}

.pods-sg-footer {
  padding: 2rem 1rem;
  text-align: center;

  .pods-sg-logo {
    font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;
    font-weight: 300;
    font-size: $font-size-base;
    float: none;
    margin: 0;
    color: lighten($color-text,55%);
  }
}

/* background adjustments to allow visibility for certain component contexts */
.subtle-bg { background: #f2f2f2; }

.dark-bg { background: $gray-800; }

.no-gutter > [class*='col-'] {
  padding-right:0.125rem;
  padding-left:0.125rem;
}

/* Colors */

.pods-sg-swatch {
  font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;

  &:last-child { margin-right: 0; }

  >div {
    position: relative;
    margin: 0 0 0.25rem;
    padding: 1rem;
    width: auto;
    border-radius: 2px;
    font-size: $font-size-xs;
    color: #fff;
    transition: background-color 0.35s ease,
    color 0.25s ease;

    .hex-color {
      font-weight: 700;
      float: right;
    }

    &:first-child {
      background: transparent;
      color: #333;
      font-weight: 300;
      padding: 2rem 1rem 0.5rem;
      text-align: center;
      font-size: 18px;
      text-transform: lowercase;

      .hex-color { display: none; }
    }

    &:nth-child(6) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.page-title {
  padding: 40px;
  font-weight: 100;
  color: #dad4cd;
  font-size: 3rem;
  letter-spacing: -3px;
}

.pods-show-grid {
  margin-top: 2rem;

  > .container > .row {
    margin-bottom: 30px;

    > div > p {
      padding: 0.5rem;
      background: #eee;
      text-align: center;
      border: 1px solid #ddd;
      font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;
      font-size: $font-size-xs;
      color: #777;
      margin: 0;
    }
  }
}

.item--mastheads .banner--image .banner__title {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Banner Background image */
// moved here to not get pulled into doric
.banner--image {
  background-image: url('http://www.northeastern.edu/resdev/wp-content/themes/thm-resdev/dist/images/banners/abstract@2x.png');
}

.item--banner--fixed .banner--fixed {
  background-position-y: 65px;
}

// Responsive typography display sizes:
.show-font-size {
  font-weight: 300;
  color: #999;
}

.element-font-size {
  font-size: inherit;
}

code {
  background: #edf4e5;
  padding: 0 .25rem;
  color: #3d5425;
}

.text--highlight {
  background: #e8e0e9;
}

/**
 * Colors 2017+
*/

.color-cell {
  margin: 0 0 1.5rem !important;

  > div {
    height: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.825rem;
    font-size: $font-size-sm;
    font-weight: 900;
    color: #fff;
    line-height: 1.3rem;
    @include _font_smoothing();

    @include _media_breakpoint_up(sm) {
      font-size: $font-size-xs;
    }

    @include _media_breakpoint_up(md) {
      font-size: $font-size-sm;

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    @include _media_breakpoint_up(lg) {
      font-size: $font-size-sm;
    }
  }

  .hex-color {
    font-family: "Roboto Mono", "Consolas", "Monaco", "Courier New", monospace;
    font-weight: 300;
  }
}

.fw--n { font-weight: 400; }

.bg-black         { background-color: $black; }

.bg-gray          { background-color: $gray; }
.bg-gray--dark    { background-color: $gray-dark; }
.bg-gray--light   { background-color: $gray-light; }

.bg-red           { background-color: $red; }
.bg-red--dark     { background-color: $red-dark; }
.bg-red--light    { background-color: $red-light; }

.bg-blue          { background-color: $blue; }
.bg-blue--dark    { background-color: $blue-dark; }
.bg-blue--light   { background-color: $blue-light; color: $black-alpha !important; }

.bg-teal          { background-color: $teal; }
.bg-teal--dark    { background-color: $teal-dark; }
.bg-teal--light   { background-color: $teal-light; color: $black-alpha !important; }

.bg-green         { background-color: $green; color: $black-alpha !important; }
.bg-green--dark   { background-color: $green-dark; }
.bg-green--light  { background-color: $green-light; color: $black-alpha !important; }

.bg-purple        { background-color: $purple; }
.bg-purple--dark  { background-color: $purple-dark; }
.bg-purple--light { background-color: $purple-light; color: $black-alpha !important; }

.bg-orange        { background-color: $orange; }
.bg-orange--dark  { background-color: $orange-dark; }
.bg-orange--light { background-color: $orange-light; color: $black-alpha !important; }

.bg-yellow        { background-color: $yellow; color: $black-alpha !important; }
.bg-yellow--dark  { background-color: $yellow-dark; color: $black-alpha !important; }
.bg-yellow--light { background-color: $yellow-light; color: $black-alpha !important; }

.bg-beige         { background-color: $beige; color: $black-alpha !important; }
.bg-beige--dark   { background-color: $beige-dark; }
.bg-beige--light  { background-color: $beige-light; color: $black-alpha !important; }

.bg-gray--100      { background-color: #efefef; color: $black-alpha !important; }
.bg-gray--200      { background-color: #d0d0d0; color: $black-alpha !important; }
.bg-gray--300      { background-color: #b5b5b5; color: $black-alpha !important; }
.bg-gray--400      { background-color: #969696; }
.bg-gray--500      { background-color: #797979; }
.bg-gray--600      { background-color: #666666; }
.bg-gray--700      { background-color: #535353; }
.bg-gray--800      { background-color: #333333; }
.bg-gray--900      { background-color: #1a1a1a; }

.bg-gray--100,
.bg-gray--200,
.bg-gray--300,
.bg-gray--400,
.bg-gray--500,
.bg-gray--600,
.bg-gray--700,
.bg-gray--800,
.bg-gray--900 {
  text-align: center;

  @include _media_breakpoint_up(lg) {
    width: 11.1% !important;
  }
}

