/**
 * Borders utility
 */

$border-radius: 4px;

.br--a {
  border-radius: $border-radius;
}
.br--t {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}
.br--r {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
.br--b {
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.br--l {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.br--circle { border-radius: 50%; }

.shadow--none { box-shadow: none !important; }
