/**
 * Components Utility
 *
 * Condition blocks to enable/disable creating components for
 * each color family
 */

@if $generate_colors_alert == true {
  @include _generate_component_colors('alert');
}

@if $generate_colors_badge == true {
  @include _generate_component_colors('badge');
}

@if $generate_colors_banner == true {
  @include _generate_component_colors('banner');
}

@if $generate_colors_bg == true {
  .bg--black { background-color: $black; }

  @include _generate_component_colors('bg');
}

@if $generate_colors_blockquote == true {
  @include _generate_component_colors('blockquote');
}

@if $generate_colors_btn == true {
  @include _generate_component_colors('btn');
}

@if $generate_colors_card == true {
  @include _generate_component_colors('card');
}

@if $generate_colors_text == true {
  @include _generate_component_colors('text');
}

@if $generate_colors_tile == true {
  @include _generate_component_colors('tile');
}
