/**
 * Embedding utility
 */

.embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed__item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed--21by9 {
  padding-bottom: percentage(9 / 21);
}

.embed--16by9 {
  padding-bottom: percentage(9 / 16);
}

.embed--4by3 {
  padding-bottom: percentage(3 / 4);
}

.embed--1by1 {
  padding-bottom: percentage(1 / 1);
}
