/**
 * Positioning Utilities
 */

/* Responsive floats */
@each $breakpoint in map-keys($grid-breakpoints) {
  @include _media_breakpoint_up($breakpoint) {
    .f--l\@#{$breakpoint} {
      float: left !important;
    }

    .f--r\@#{$breakpoint} {
      float: right !important;
    }

    .f--n\@#{$breakpoint} {
      float: none !important;
    }
  }
}
