/**
 * Typography utilities
 *
 */

/* Weight */
.fw--100  { font-weight: 100; }
.fw--200  { font-weight: 200; }
.fw--300  { font-weight: 300; }
.fw--400  { font-weight: 400; }
.fw--500  { font-weight: 500; }
.fw--600  { font-weight: 600; }
.fw--700  { font-weight: 700; }
.fw--900  { font-weight: 900; }


/* Sizing */
@include _font_sizing('fs', $font-sizes); // .fs--xs etc.

.fs--lead,
.lead {
  font-size: $font-size-lead;
  font-weight: 300;
}


/* Alignment */
.ta--l  { text-align: left !important; }
.ta--r  { text-align: right !important; }
.ta--c  { text-align: center !important; }

@each $breakpoint in map-keys($grid-breakpoints) {
  @include _media_breakpoint_up($breakpoint) {
    .ta--l\@#{$breakpoint}  { text-align: left !important; }
    .ta--r\@#{$breakpoint}  { text-align: right !important; }
    .ta--c\@#{$breakpoint}  { text-align: center !important; }
  }
}


/* Transformation */
.tt--l    { text-transform: lowercase !important; }
.tt--u    { text-transform: uppercase !important; }
.tt--c    { text-transform: capitalize !important; }
.tt--caps {
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/**
 * Lists
 */
 
.list__item, li {
  padding-top: .125rem;
  margin-bottom: .125rem;
}

.list--unstyled {
  @include _list_unstyled;

  .list__item, li {
    padding-top: .25rem;
    margin-bottom: .25rem;
  }
}

ul,
ol {
  .list--unstyled {
    padding-top: 0.125rem;
    margin-left: 1.5rem;
  }
}

.list--inline {
  @include _list_unstyled;

  .list__item, li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.lh--1-4 { line-height: 1.4; }
.lh--1-5 { line-height: 1.5; }
.lh--1-6 { line-height: 1.6; }
